@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

#backtop {
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.5s;
}

#backtop img {
  width: 30px;
  height: 30px;
}

.container {
  max-width: 1215px;
  padding: 0 30px;
  margin: 0 auto;
}

.input-payment input {
  width: 100%;
  height: 59px;
  background: #F1F1F1;
  border: none;
  margin-bottom: 24px;
  padding-left: 12px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .container__bottom {
  transition: 0.5s;
}
.navbar__top {
  padding: 13px 0;
  background-color: #000;
}
.navbar__top .container p {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  color: #fff;
}
.navbar__top .container span {
  opacity: 0.3;
}
.navbar__logo {
  margin-right: 98px;
}
.navbar__menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 197px;
}
.navbar__list .link {
  font: normal 500 14px/19.6px "Montserrat";
  color: #000;
  margin: 0 12px;
  transition: 0.3s;
}
.navbar__list .link:hover {
  color: #FFC000;
}
.navbar__join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.navbar__side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__side .cart-btn {
  margin-left: 28px;
  cursor: pointer;
}
.navbar .toggle-btn {
  display: none;
}
.navbar .cart-btn {
  background-color: transparent;
  border: none;
}
.navbar .sign {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 5px 10px;
  letter-spacing: 0.44px;
  color: #0d0d0d;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.navbar .sign:hover {
  background-color: #FFC000;
}

.navbar-shrink {
  background-color: #FFC000;
  box-shadow: -2px 14px 8px 0px rgba(250, 247, 247, 0.2);
}
.navbar-shrink .container__bottom {
  padding: 14px 30px !important;
}

@media (max-width: 1220px) {
  .navbar__logo {
    display: none;
  }
  .navbar .container__bottom {
    background-color: #fff;
  }
  .navbar__menus {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    top: 0;
    left: -1500px;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 999;
    background-color: #FFC000;
    flex-grow: 0;
  }
  .navbar__list {
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .navbar__list .link {
    font-size: 1.875rem;
    line-height: 55px;
    color: #fff;
  }
  .navbar__side {
    position: relative;
    width: 100%;
  }
  .navbar__side .toggle-btn:after {
    content: url("../../images/home/Logo.svg");
    position: absolute;
    top: -6px;
    left: 40px;
  }
  .navbar .sign:hover {
    background-color: #000;
    color: #fff;
  }
  .navbar .toggle-btn {
    width: 25px;
    height: 25px;
    display: block;
    border: none;
    background-color: transparent;
  }
  .navbar .toggle-btn img {
    width: 100%;
  }
  .navbar .close-btn {
    position: absolute;
    z-index: 9999;
    top: 65px;
    right: 30px;
  }
  .navbar .light-dark {
    position: absolute;
    top: 19px;
    right: 70px;
  }
}
footer {
  padding: 46px 0 42px;
  background-color: #ffffff;
}

.footer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}
.footer h4 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer .footer-left {
  display: flex;
  gap: 29px;
}
@media (max-width: 500px) {
  .footer .footer-left {
    flex-direction: column;
    justify-content: center;
  }
}
.footer .footer-left .footer__left-logo {
  display: grid;
  grid-gap: 16px;
}
@media (max-width: 500px) {
  .footer .footer-left .footer__left-logo {
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-left .footer__left-logo p {
  max-width: 265px;
}
.footer .footer-left .footer__left-contact {
  display: grid;
  grid-row-gap: 38px;
}
@media (max-width: 700px) {
  .footer .footer-left .footer__left-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
}
@media (max-width: 500px) {
  .footer .footer-left .footer__left-contact {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-left .footer__left-contact .footer__top-links,
.footer .footer-left .footer__left-contact .footer__bottom-text {
  display: grid;
  grid-row-gap: 10px;
}
.footer .footer-right {
  display: flex;
  gap: 173px;
}
@media (max-width: 800px) {
  .footer .footer-right {
    gap: 100px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .footer .footer-right {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-right .footer__right-menus,
.footer .footer-right .footer__categories-menus {
  display: grid;
  grid-row-gap: 10px;
}

.cart-lorem {
  padding-top: 136px;
  display: flex;
  gap: 130px;
}
.cart-lorem .lorem-left {
  flex: 0.4;
}
.cart-lorem .lorem-right {
  flex: 0.6;
}
.cart-lorem .lorem-right h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.cart-lorem .lorem-right .evaluation {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart-lorem .lorem-right .evaluation p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.cart-lorem .lorem-right p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.cart-lorem .lorem-right .right-more {
  font-family: "Montserrat";
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(0, 0, 0, 0.4);
}
.cart-lorem .lorem-right h2 {
  font-family: "Montserrat";
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.cart-lorem .lorem-right .right-size {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.cart-lorem .lorem-right .right-numbers {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.cart-lorem .lorem-right .right-numbers .order {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  border: 2px solid #dbdee7;
  border-radius: 6px;
  padding: 12px 20px;
  background-color: #e5e5e5;
  margin-top: 10px;
}
.cart-lorem .lorem-right .right-numbers .ordered {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  border: 2px solid #dbdee7;
  border-radius: 6px;
  padding: 13px 20px;
  background-color: #dbdee7;
  margin-top: 10px;
}
.cart-lorem .lorem-right .right-send {
  font-family: "Montserrat";
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  background-color: #ffc000;
  padding: 10px 80px;
  margin-top: 25px;
  width: 400px;
}
.cart-lorem .lorem-right .right-next {
  font-family: "Montserrat";
  text-align: center;
  margin-top: 16px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 80px;
  width: 400px;
}
.cart-lorem .lorem-right .right-prefer {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 25px;
}
.cart-lorem .lorem-right .top {
  display: flex;
  gap: 65px;
  margin-bottom: 20px;
}
.cart-lorem .lorem-right .top .delivery {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cart-lorem .lorem-right .top .delivery p {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}
.cart-lorem .lorem-right .top .buyer {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cart-lorem .lorem-right .top .buyer p {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}
.cart-lorem .lorem-right .bottom {
  display: flex;
  gap: 87px;
}
.cart-lorem .lorem-right .bottom .trusted {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cart-lorem .lorem-right .bottom .trusted p {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}
.cart-lorem .lorem-right .bottom .aviable {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cart-lorem .lorem-right .bottom .aviable p {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card-bottom img {
  width: 104px;
  height: 104px;
}

.products {
  margin-bottom: 80px;
}
.products .products-title {
  font-family: "Montserrat";
  margin-top: 60px;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 30px;
}
.products .products-chart {
  display: flex;
  gap: 30px;
}
.products .products-chart .products-cards {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  padding-bottom: 20px;
}
.products .products-chart .products-cards img {
  width: 100%;
}
.products .products-chart .products-cards h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.products .products-chart .products-cards p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 5px;
}
.products .products-chart .products-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.products .products-chart .products-star .evaluation {
  display: flex;
  align-items: center;
}
.products .products-chart .products-star p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 0;
}
.products .products-chart a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  background: #ffc000;
  border-radius: 6px;
  padding: 10px 25px;
}

.best-sort-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 50px;
}
.best-sort .sort {
  display: flex;
  margin-bottom: 70px;
  gap: 30px;
  text-align: center;
}
.best-sort .sort .img {
  background-color: #eeeeee;
  border-radius: 8px;
}
.best-sort .sort p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

@media (max-width: 786px) {
  .cart-lorem {
    display: block;
  }
  .right-send {
    width: 300px !important;
    padding: 10px 50px !important;
  }
  .right-next {
    width: 300px !important;
    padding: 10px 50px !important;
  }
  .card-bottom img {
    width: 70px;
    height: 70px;
  }
  .products-chart {
    display: block !important;
  }
  .products-cards {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .products-star {
    padding-left: 35px;
    padding-right: 35px;
  }
  .sort {
    display: block !important;
  }
  .sort .sort-img {
    margin-bottom: 50px;
  }
  .sort .sort-img img {
    margin-bottom: 10px;
  }
}