@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

footer {
  padding: 46px 0 42px;
  background-color: #ffffff;
}

.footer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}
.footer h4 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer .footer-left {
  display: flex;
  gap: 29px;
}
@media (max-width: 500px) {
  .footer .footer-left {
    flex-direction: column;
    justify-content: center;
  }
}
.footer .footer-left .footer__left-logo {
  display: grid;
  grid-gap: 16px;
}
@media (max-width: 500px) {
  .footer .footer-left .footer__left-logo {
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-left .footer__left-logo p {
  max-width: 265px;
}
.footer .footer-left .footer__left-contact {
  display: grid;
  grid-row-gap: 38px;
}
@media (max-width: 700px) {
  .footer .footer-left .footer__left-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
}
@media (max-width: 500px) {
  .footer .footer-left .footer__left-contact {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-left .footer__left-contact .footer__top-links,
.footer .footer-left .footer__left-contact .footer__bottom-text {
  display: grid;
  grid-row-gap: 10px;
}
.footer .footer-right {
  display: flex;
  gap: 173px;
}
@media (max-width: 800px) {
  .footer .footer-right {
    gap: 100px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .footer .footer-right {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-right .footer__right-menus,
.footer .footer-right .footer__categories-menus {
  display: grid;
  grid-row-gap: 10px;
}

.container {
  max-width: 1215px;
  padding: 0 30px;
  margin: 0 auto;
}

.cotegories {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 24px;
}
.cotegories a {
  width: 198px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

a:hover {
  color: blue;
  background-color: rgb(158, 158, 161);
  transition: 1s;
}

.cotegories-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.cotegories-card {
  margin-bottom: 24px;
  display: grid;
  grid-template-rows: repeat(2, fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.cotegories-card img {
  width: 264px;
  height: 272px;
}
.cotegories-card p {
  padding-top: 26px;
  padding-left: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

@media (max-width: 1140px) {
  .cotegories-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}