@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1215px;
  padding: 0 30px;
  margin: 0 auto;
}

.input-payment input {
  width: 100%;
  height: 59px;
  background: #F1F1F1;
  border: none;
  margin-bottom: 24px;
  padding-left: 12px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .container__bottom {
  transition: 0.5s;
}
.navbar__top {
  padding: 13px 0;
  background-color: #000;
}
.navbar__top .container p {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  color: #fff;
}
.navbar__top .container span {
  opacity: 0.3;
}
.navbar__logo {
  margin-right: 98px;
}
.navbar__menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 16px;
}
.navbar__list a {
  font: normal 500 14px/19.6px "Montserrat";
  color: #000;
  margin: 0 12px;
}
.navbar__join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.navbar__join button {
  margin-left: 28px;
}
.navbar .toggle-btn {
  display: none;
}
.navbar .cart-btn {
  background-color: transparent;
  border: none;
}
.navbar .sign {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 5px 10px;
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.navbar .sign:hover {
  background-color: #FFC000;
}

.navbar-shrink {
  background-color: #FFC000;
  box-shadow: -2px 14px 8px 0px rgba(250, 247, 247, 0.2);
}
.navbar-shrink .container__bottom {
  padding: 14px 30px !important;
}

@media (max-width: 1170px) {
  .navbar__menus {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    top: 0;
    right: -1500px;
    bottom: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 999;
    background-color: #FFC000;
    flex-grow: 0;
  }
  .navbar__list {
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .navbar__list .link {
    font-size: 1.875rem;
    line-height: 55px;
    color: #fff;
  }
  .navbar .sign:hover {
    background-color: #000;
    color: #fff;
  }
  .navbar .toggle-btn {
    width: 25px;
    height: 25px;
    display: block;
    border: none;
    background-color: transparent;
  }
  .navbar .toggle-btn img {
    width: 100%;
  }
  .navbar .close-btn {
    position: absolute;
    z-index: 9999;
    top: 65px;
    right: 30px;
  }
  .navbar .light-dark {
    position: absolute;
    top: 19px;
    right: 70px;
  }
}
footer {
  padding: 46px 0 42px;
  background-color: #ffffff;
}

.footer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}
.footer h4 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.footer .footer-left {
  display: flex;
  gap: 29px;
}
@media (max-width: 500px) {
  .footer .footer-left {
    flex-direction: column;
    justify-content: center;
  }
}
.footer .footer-left .footer__left-logo {
  display: grid;
  grid-gap: 16px;
}
@media (max-width: 500px) {
  .footer .footer-left .footer__left-logo {
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-left .footer__left-logo p {
  max-width: 265px;
}
.footer .footer-left .footer__left-contact {
  display: grid;
  grid-row-gap: 38px;
}
@media (max-width: 700px) {
  .footer .footer-left .footer__left-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
}
@media (max-width: 500px) {
  .footer .footer-left .footer__left-contact {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-left .footer__left-contact .footer__top-links,
.footer .footer-left .footer__left-contact .footer__bottom-text {
  display: grid;
  grid-row-gap: 10px;
}
.footer .footer-right {
  display: flex;
  gap: 173px;
}
@media (max-width: 800px) {
  .footer .footer-right {
    gap: 100px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .footer .footer-right {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-right .footer__right-menus,
.footer .footer-right .footer__categories-menus {
  display: grid;
  grid-row-gap: 10px;
}

body {
  background-color: #fff;
}
body a:hover {
  color: blue;
}

.container__bottom {
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
  z-index: 10;
}

main {
  margin-top: 164px;
}

.category {
  margin-top: 40px;
  margin-bottom: 32px;
}
.category a {
  width: 291px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.category-cards {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: auto;
}

.category-card {
  margin-bottom: 16px;
  display: grid;
  grid-template-rows: repeat(2, fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.category-card img {
  width: 264px;
  height: 272px;
}
.category-card b {
  width: 245px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  margin: 8px 0;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.narx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.narx .img1 img {
  width: 98px;
  height: 20px;
}
.narx .img2 img {
  width: 51px;
  height: 14px;
}

.category-cards-left {
  width: 264px;
  height: 288px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.category-cards-rigth {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.Filter {
  width: 264px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 170px 16px 16px;
}
.Filter a {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.Categor {
  width: 264px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgb(187, 171, 171);
  border-bottom: 1px solid rgb(187, 171, 171);
}
.Categor h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 155px 12px 16px;
}
.Categor h4 a {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.Categor h4 a:hover {
  color: blue;
}
.Categor h4 i {
  padding-top: 5px;
  color: #000000;
  padding-left: 116px;
}

.Gender {
  width: 264px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgb(187, 171, 171);
  border-bottom: 1px solid rgb(187, 171, 171);
}
.Gender h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 155px 12px 16px;
}
.Gender h4 a {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.Gender h4 a:hover {
  color: blue;
}
.Gender h4 i {
  padding-top: 5px;
  color: #000000;
  padding-left: 146px;
}

.Price {
  width: 264px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgb(187, 171, 171);
  border-bottom: 1px solid rgb(187, 171, 171);
}
.Price h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 155px 12px 16px;
}
.Price h4 a {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.Price h4 a:hover {
  color: blue;
}
.Price h4 i {
  padding-top: 5px;
  color: #000000;
  padding-left: 171px;
}

.buttons button {
  background: #ffc000;
  border: none;
  margin: 16px 16px 24px 16px;
}
.buttons button p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 75px;
  letter-spacing: 0.04em;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 100000px;
  color: #0d0d0d;
}
.buttons button:hover {
  background-color: red;
  color: blue;
}