@use "../global.scss";


.partner {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 172px;
    padding-bottom: 80px;

    .partnership-lift {
        display: grid;
        grid-template-rows: auto;
        gap: 30px;
        width: 100%;


      
    }

    .partnership-right {
        display: grid;
        grid-template-rows: auto;
        gap: 20px;

        input {
            padding: 20px 20px;
            font-family: cursive;
            font-size: 20px;
            width: 100%;
        }

        textarea {
            padding-left: 20px;
            font-family: cursive;
            font-size: 20px;
        }
    }

}
h1 {
    font-family: small-caps bold 30px/1 sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 64px;
}

h3 {
    font-family: italic 1.2em "Fira Sans", serif;
    font-size: 30px;
}

h4 {
    font-family: system-ui;
    font-size: 20px;
}

@media (max-width:1020px) {
    .partner {
        grid-template-columns: repeat(1, 1fr);
        font-size: 10px;
        grid-row-gap: 50px;
    }
    .partnership-right{
        font-size: 13px;
    }


}