@use "../global.scss";
// @use "../abstracts/mixin";
body {
  background-color: #fafafa;
}

.container {
  &-payment {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.25px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #000000;
      padding: 176px 0 40px;
    }
  }
  &-pay {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    margin-bottom: 64px;
    &-img {
      img {
        padding-left: 100px;
      }
    }
    &-pay {
        text-align: center;
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #0d0d0d;
        width: 100%;
        background: rgba(0, 0, 0, 0.05);
        height: 62px;
        display: flex;
        justify-content: center;
        &:hover{
            background-color: #FFC000;
            transition: 0.5s;
        }
      }
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.44px;
        font-feature-settings: "pnum" on, "lnum" on;
        padding-bottom: 10px;
        color: #0a0a0a;
      }
      input {
        width: 100%;
        background-color: #f1f1f1;
        padding-left: 16px;
        height: 60px;
        border: none;
        margin-bottom: 32px;
      }
      .input::placeholder {
        color: #0a0a0a;
      }
    }
  }
}
