@use "../global.scss";

input {
    width: 264px;
    height: 44px;
    border: 1px solid #DBDEE7;
    border-radius: 6px;
    padding-left: 12px;
    margin-bottom: 16px ;
}

.pro {
    padding: 80px 0 72px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#adres {
    width: 313px;
    height: 44px;
}

.pro-1 {
    display: grid;

    button {
        margin-top: 16px ;
        width: 263px;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */

        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Black */

        color: #0D0D0D;
        padding: 9px 90px;
        background: #FFC000;
        border-radius: 6px;
        border: none;
    }
}

label {
    padding-bottom: 8px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.uz {
    height: 40px;
    background: #0D0D0D;
    padding: 13px 0;

    a:first-child {
        font-weight: 700;
        font-size: 10px;
        line-height: 140%;
        /* identical to box height, or 14px */

        text-align: center;
        letter-spacing: 1.5px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* White */

        color: #FFFFFF;
    }

    a:last-child {
        font-weight: 700;
        font-size: 10px;
        line-height: 140%;
        /* identical to box height, or 14px */

        text-align: center;
        letter-spacing: 1.5px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: rgba(255, 255, 255, 0.3);
    }
}

.nav {
    background: #FAFAFA;
}


.rgr {
    /* Shadow / 700 */
    background: #FAFAFA;
    box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .nav-left {
        display: flex;

        .menus {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 24px;
            padding-left: 98px;

            a {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                /* identical to box height, or 20px */

                text-align: center;
                letter-spacing: 0.1px;
                font-feature-settings: 'pnum' on, 'lnum' on;

                color: #000000;

            }
        }
    }

}

header {
    position: fixed;
    width: 100%;
}

main {
    padding-top: 120px;
}

.nav-right {
    display: flex;


    button:first-child {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: none;
    }

    button {
        padding: 4px 8px;
    }

    .regis {
        margin-left: 15px;
        background: #FFC000;
        border-radius: 4px;
        border: none;
        margin-right: 43px;
    }
}

footer {
    h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        /* identical to box height, or 20px */

        letter-spacing: 0.75px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Black */

        color: #000000;
        padding-bottom: 16px;

    }

    p {
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        /* or 22px */

        letter-spacing: 0.25px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Black */

        color: #000000;

    }
}

.footer-oko {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .igofuw {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}