@use "../global.scss";

.urta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.regester {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 40px;
    padding-bottom: 80px;

    img {
        width: 100%;
    }

}



.partnership-right {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;

    input {
        padding: 20px 20px;
        font-family: cursive;
        font-size: 20px;
        width: 100%;
        outline: none;
    }

    a {
        padding: 10px 60px;
        border: 1px solid black;
        background-color: #FFC000;
        color: white;
    }
}

.relative {
    position: relative;
}

.relative i {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    right: 20px;
}

@media(max-width:900px) {
    .regester {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;

    }


}