// Safarmurod
@use "../abstracts/variables" as var;
@use "./container";
@use "../abstracts/mixin";
@use "../base/reset";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;

  .container {
    @include mixin.flex-box(row, space-between, center);
  }
  .container__bottom {
    transition: 0.5s;
  }
  &__top {
    padding: 13px 0;
    background-color: #000;
    .container {
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 140%;
        color: #fff;
      }
      span {
        opacity: 0.3;
      }
    }
  }
    &__logo {
      margin-right: 98px;
    }
  &__menus {
    @include mixin.flex-box(row, space-between, center);
  }
  &__list {
    @include mixin.flex-box(row, center, center);
    margin-right: 197px;
    .link {
      font: var.$body-font;
      color: #000;
      margin: 0 12px;
    }
  }
  &__join {
    @include mixin.flex-box(row, center, center);
    gap: 15px;
  }
  &__side{
    @include mixin.flex-box(row,space-between,center);
    .cart-btn{
      margin-left: 28px;
    }
  }
  .toggle-btn {
    display: none;
  }
  .cart-btn {
    background-color: transparent;
    border: none;
  }
  .sign {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 5px 10px;
    letter-spacing: 0.44px;
    // font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  .sign:hover {
    background-color: var.$primary-color;
  }
}
.navbar-shrink {
  .container__bottom {
    padding: 14px 30px !important;
  }
  background-color: var.$primary-color;
  box-shadow: -2px 14px 8px 0px rgba(250, 247, 247, 0.2);
}

@media (max-width: 1170px) {
  .navbar {
    &__logo{
      display: none;
    }
    .container__bottom{
      background-color: #fff;
    }
    &__menus {
      position: fixed;
      @include mixin.flex-box(column, center, center);
      flex-wrap: nowrap;
      top: 0;
      left: -1500px;
      bottom: 0;
      width: 100%;
      transition: 0.3s;
      z-index: 999;
      background-color: var.$primary-color;
      flex-grow: 0;
    //   display: none;
    }
    &__list {
      justify-content: space-between;
      text-align: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
      margin-right: 0;
    }
    &__list .link {
      font-size: 1.875rem;
      line-height: 55px;
      color: #fff;
    }
    &__side{
      position: relative;
      width: 100%;
      .toggle-btn:after{
        content: url('../../images/home/Logo.svg');
        position: absolute;
        top: -6px;
        left: 40px;
         }
    }
    .sign:hover{
        background-color: #000;
        color:#fff;
    }
    .toggle-btn {
        width: 25px;
        height: 25px;
        display: block;
        border: none;
        background-color: transparent;
      }
      .toggle-btn img {
        width: 100%;
      }
      .close-btn {
        position: absolute;
        z-index: 9999;
        top: 65px;
        right: 30px;
      }
      .light-dark {
        position: absolute;
        top: 19px;
        right: 70px;
      }
  }

}
