// Jahongir

#download {
  margin: 243px 0 64px;
  height: 100%;
  background: radial-gradient(100% 1071.07% at 0% 0%, #0f0d2b 0%, #0c0926 100%);
  .download {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .download-left {
    position: absolute;
    left: 0;
    top: -175px;
    img {
      width: 350px;
      height: 550px;
    }
  }
  .download-right {
    height: 100%;
    margin-left: 435px;
    padding: 30px 0 56px;
    h3 {
      max-width: 754px;
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      letter-spacing: 0.25px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #ffffff;
    }
    p {
      max-width: 738px;
      padding: 24px 0 40px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.44px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #ffffff;
    }
    .download__right-downloadapp {
      display: flex;
      gap: 31px;
    }
  }
}

@media (max-width: 860px) {
  .download {
    .download-right {
      margin-left: 0 !important;
      margin-top: 400px;
    }
  }
}
@media (max-width: 450px) {
  .download {
    .download-left {
      top: -100px !important;
      img {
        width: 300px !important;
        height: 400px !important;
      }
    }
    .download-right {
      margin-left: 0 !important;
      margin-top: 300px;
      h3 {
        font-size: 25px !important;
      }
      p {
        font-size: 12px;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 350px) {
  .download {
    .download-left {
      top: -80px !important;
      img {
        width: 200px !important;
        height: 300px !important;
      }
    }
    .download-right {
      margin-left: 0 !important;
      margin-top: 250px;
    }
  }
}
