.input-payment {
  // Tohir
  input {
    width: 100%;
    height: 59px;
    background: #F1F1F1;
    border: none;
    margin-bottom: 24px;
    padding-left:  12px;
  }
}

@mixin input-sign {
  // Muhammadamin
}

@mixin btn {
}
