.input-payment {
  // Tohir
  input {
    width: 100%;
    height: 59px;
    background: #F1F1F1;
    border: none;
    margin-bottom: 24px;
    padding-left:  12px;
  }
}

@mixin input-sign {
  // Muhammadamin
}

@mixin btn {
<<<<<<< HEAD
  
}

@mixin flex-box($direction,$justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}
=======
}
>>>>>>> 08f0179c7de29fa2845577e4db8c1b5330b62bc9
